<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    
    <!-- SMTP settings -->
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
 
    <context-param>
        <param-name>user</param-name>
        <param-value>rastertek.fcfm@gmail.com</param-value>
    </context-param>
 
    <context-param>
        <param-name>pass</param-name>
        <param-value>rastertek123</param-value>
    </context-param>
    
    <!-- Servlet paths -->
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>Controller.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyUser</servlet-name>
        <servlet-class>Controller.VerifyUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTutorial</servlet-name>
        <servlet-class>Controller.AddTutorial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllTutorials</servlet-name>
        <servlet-class>Controller.GetAllTutorials</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetImageStream</servlet-name>
        <servlet-class>Controller.GetImageStream</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTema</servlet-name>
        <servlet-class>Controller.AddTema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaIndex</servlet-name>
        <servlet-class>Controller.CargaIndex</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CierraSesion</servlet-name>
        <servlet-class>Controller.CierraSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTemaImg</servlet-name>
        <servlet-class>Controller.GetTemaImg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActualizaTema</servlet-name>
        <servlet-class>Controller.ActualizaTema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnvioCorreos</servlet-name>
        <servlet-class>Controller.EnvioCorreos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyUser</servlet-name>
        <url-pattern>/VerifyUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTutorial</servlet-name>
        <url-pattern>/AddTutorial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllTutorials</servlet-name>
        <url-pattern>/GetAllTutorials</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetImageStream</servlet-name>
        <url-pattern>/GetImageStream</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTema</servlet-name>
        <url-pattern>/AddTema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaIndex</servlet-name>
        <url-pattern>/CargaIndex</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CierraSesion</servlet-name>
        <url-pattern>/CierraSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTemaImg</servlet-name>
        <url-pattern>/GetTemaImg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActualizaTema</servlet-name>
        <url-pattern>/ActualizaTema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnvioCorreos</servlet-name>
        <url-pattern>/EnvioCorreos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>CargaIndex</welcome-file>
    </welcome-file-list>
</web-app>
